body {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section.one {
    background-color: #1F2937;
    color: white;
}

.top {
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
h1 {
    margin: 0;
}
ul {
    display:flex;
    gap: 16px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: white;
}
.bottom {
    width: 1024px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 96px;
    gap: 32px;
}
.bottom .left .button-one {
    color: white;
    background-color: #3882F6;
    border: none;
    border-radius: 6px;
    padding: 6px 24px;
    font-weight: bold;
}
.bottom img {
    width: 512px;
    height: auto;
}


.containers {
    width: 1024px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px;
    gap: 32px;
}
.title{
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 32px;
}
.container.images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box img {
    width: 156px;
    border: 3px solid black;
    border-radius: 10%;
    border-color: #3882F6;
    flex: 1 1 auto;
}

.section.three {
    background-color: #E5E7EB;
}
.container-three {
    width: 1024px;
    padding: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote-text {
    font-size: 28px;
    width: 650px;
    margin: 0;
    padding: 0;
}
.quote-name {
    font-size: 20px;
    font-weight: bold;
    align-self: end;
    margin: 24px 256px 0px 0px;
    padding: 0;
}

.container-four {
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    margin: 64px 0px;
    
}
.container-four .left {
    color: white;
    padding: 32px;
}
.container-four .left .title {
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 5px;

}
.container-four .left .text{
    margin: 0;
}
.button-two {
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 5px;
    padding: 6px 24px;
    font-weight: bold;
}
.section.footer {
    background-color: #1F2937;
    color: white;
    padding: 32px;
    font-size: 12px;
}

